<!doctype html>
<html>
    <head>
        <title>Moore's Law for Apple</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/plotly.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/data/storage_price.js"></script>
    </head>
    <body>
        <!-- Header -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand active" href="/index.html">
                <img style="margin-right: 10px; margin-top: -10px;" src="/static/images/apple.svg"></span>
                <span style="width: 200px"></span>Moore's Law for Apple
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span style="width: 100%"></span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Plots</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/visualizations/memory.html">Memory</a>
                            <a class="dropdown-item" href="/visualizations/storage.html">Storage</a>
                            <a class="dropdown-item" href="/visualizations/memory_price.html">Price of Memory</a>
                            <a class="dropdown-item" href="/visualizations/storage_price.html">Price of Storage</a>
                        </div>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="/comparison.html">Comparison</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="/data.html">Data</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Content -->
        <main>
            <div class="row justify-content-around">
                <div class="card col-lg-7">
                    <div class="card-body">
                        <h1>Storage Price</h1>
                        <hr>
                        <div id="plot"></div>
                        <p>The price of storage over time has a shape that is difficult to fit.  For simplicity the line was fitted to a 1/x graph, but in reality the switch from HDDs to SSDs would probably be more accurately represented with an inverse polynomial.</p>
                    </div>
                </div>
                <div class="card col-lg-4">
                    <div class="card-body">
                        <h2>Visualizations</h2>
                        <hr><br>
                        <div style="text-align: center">
                            <a href="/visualizations/memory.html"><img class="thumbnail_sm" src="/static/images/memory.png"></a>
                            <a href="/visualizations/storage.html"><img class="thumbnail_sm" src="/static/images/storage.png"></a>
                            <a href="/visualizations/memory_price.html"><img class="thumbnail_sm" src="/static/images/memory_price.png"></a>
                            <a href="/visualizations/storage_price.html"><img class="thumbnail_sm selected" src="/static/images/storage_price.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="panel-footer bg-dark">
            <a style="display: contents" href="https://campo-computing.com/"><p></p><p>&copy; Copyright Campo Computing 2020</p></a>
        </footer>
        <script>
            var trace1 = {
                x: Object.values(data.x),
                y: Object.values(data.y),
                mode: "markers",
                type: "scatter",
                showlegend: false
            }
            var trace2 = {
                x: Object.values(data.reg_x),
                y: Object.values(data.reg_y),
                mode: "lines",
                type: "scatter",
                marker: {color: "red"},
                showlegend: false
            }
            var layout = {
                title: "15\" Macbook: $USD per GB of Storage by Release Date",
                xaxis: {title: "Release Date"},
                yaxis: {title: "$USD"}
            }
            Plotly.newPlot('plot', [trace1, trace2], layout)
        </script>
    </body>
</html>